<h1>Listing of Articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Topic</th>
    <th>Text</th>
    <th colspan="4"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %> &nbsp; </td> 
      <td><%= article.topic %> &nbsp; </td>
      <td><%= article.text %> &nbsp; </td>
      <td><%= link_to 'Show', article_path(article) %> &nbsp;</td>
      <td><%= link_to 'Edit', edit_article_path(article) %> &nbsp;</td>
      <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
<br>
<%= link_to 'Home', root_path %>