<h1> New Article </h1>

<%= form_for :article do |f| %>
  <p>
    <h2><%= f.label :title %></h2>
    <%= f.text_field :title %>
  </p>

  <p>
    <h2><%= f.label :topic %></h2>
    <%= f.text_field :topic %>
  </p>
 
  <p>
    <h2><%= f.label :text %></h2>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>